body {
  margin: 0;
  padding: 0;
}

/* UTILITY */
.ls-none {
  list-style: none;
}

.bg-grey {
  background-color: #eee;
}

.vt-ctr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* GENERAL */
nav {
  width: auto;
  height: auto;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}